<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<style>



</style>
<body>
    <div id="myDiv"></div>
</body>


<!-- D3.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    var trace1 = {
  x: [1, 2, 3,5,6],
  y: [4, 5, 6,5,8],
  type: 'bar'
};

var trace2 = {
  x: [20, 30, 40],
  y: [50, 60, 70],
  xaxis: 'x2',
  yaxis: 'y2',
  type: 'bar'
};
var trace3 = {
  x: [20, 30, 40],
  y: [50, 60, 70],
  xaxis: 'x3',
  yaxis: 'y3',
  type: 'bar'
};
var data = [trace1, trace2,trace3];

var layout = {
  grid: {rows: 1, columns: 3, pattern: 'independent'},
};

Plotly.newPlot('myDiv', data, layout);
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</html>